@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


main {
    font-family: 'work sans', Arial, Helvetica, sans-serif;
    background-color: rgb(247, 254, 255);
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    width: 1512px;
}

body {
    background-color: black;
}


h1 { 
    color: rgb(71, 54, 54);
    text-decoration: underline;
    font: italic 600 4.6em 'work sans', sans-serif;
}


h2 {
    color: rgb(71, 54, 54);
    font: 505 2.5em 'work sans', sans-serif;
}
