@charset "UTF-8";
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(210, 215, 219);
    font-size: 22px;
}

h1 {
    color: rgb(252, 60, 60);
    font-weight: bolder;
    background-color: black;
}

h2 {
    color: rgb(5, 5, 29);
}

p {
    color: rgb(8, 31, 31);
    font-weight: bolder;
    text-align: justify;
    
}

